.footer-wrap {
  width: 100%;
  // height: auto;
  clear: both;
  float: left;
  text-align: left;
  background-color: #0f2046;
  padding: 50px 0px;
  box-sizing: border-box;
  .container {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    color: white;
  }
}